.Container{
	border: 1px solid black;
	width:25%;

}

.Item{
	border: 1px solid blue;
	margin: 20px 20px;


}

.title{
	color: red;
}

.description{

}

.img_item{
	width:100px;
	height:100px;
}

.btn{
	cursor: pointer;
}